//@theme "~/.config/rofi/themes/style-7.rasi"

//@theme "/home/dereck/.config/rofi/themes/launchers.rasi"

//@theme "/home/dereck/.config/rofi/themes/ros.rasi"

//@theme "/home/dereck/.config/rofi/themes/style-3.rasi"

//@theme "/home/dereck/.config/rofi/themes/launchers.rasi"

//@theme "/home/dereck/.config/rofi/themes/style-3.rasi"

@theme "/home/dereck/.config/rofi/themes/launcher.rasi"
